body {
  margin: 0;
  min-width: 320px;
  font-family: 'Trebuchet MS', 'Segoe UI', Tahoma, sans-serif;
  line-height: 1.45;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
}

#root {
  min-height: 100vh;
}
